@model ChipShip.Models.DelivererGeoLocationModel
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<div id="map"></div>
@section scripts {
    @Scripts.Render("~/Scripts/CurrentGeoLocation.js")
    }

<script>
      function initMap() {
        var uluru = {lat: -25.363 , lng: 131.044 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfTfQ9EoYEotKPAfWCncS40aCDuV88co&callback=initMap">
    </script>
