@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<h3>A Little about ChipShip!</h3>

<p>ChipShip is an application created to showcase the creators ability to make an application using ASp.Net MVC.
     The goal was to create an application that would simplify the snacking process by eliminating the need for the user to take a trip and just have it delived. 
    This application has to ability for the user to place an order, have it approved, track the deliver real time, and finally leave a rating when the order is complete.
    We look forward to making improvments and adding features as time goes on an continuing to make the snacking process even easier!</p>
