@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<br />
<h3>Contact us with any questions you may have at either of these</h3>

<address>
    <p>Email: camschoch3@gmail.com</p>
    <p>Phone: 262.676.4764</p>
</address>
