@model ChipShip.Models.ViewModels.OrderRequestViewModel
@{
    ViewBag.Title = "OrderHistoryPeople";
}

<br />
<br />
<br />
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Name</th>
        <th>View Order</th>
    </tr>
    @foreach (var d in Model.Users)
    {
      
            <tr>
                <td>@Html.DisplayFor(temp => d.UserName)</td>
                <td>@Html.ActionLink("View Order", "OrderHistory", "RegisteredUser", new { userId = d.Id }, null)</td>
            </tr>        
    }
</table>