@model ChipShip.Models.ViewModels.WalmartApiViewModel
@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Results</th>
        <th>Price</th>
    </tr>
    @foreach (var d in Model.Items)
    {
        <tr>
            <td>@Html.DisplayFor(temp => d.name)</td>
            <td>@Html.DisplayFor(temp => d.salePrice)</td>
        </tr>

    }
</table>
  
