@model ChipShip.Models.ViewModels.WalmartApiViewModel
@{
    ViewBag.Title = "ShoppingPage";
}

<br />
<br />
<br />
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Results</th>
        <th>Price</th>
        <th>Add to cart</th>
    </tr>
    @foreach (var d in Model.Items)
    {
        <tr>
            <td>@Html.DisplayFor(temp => d.name )</td>
            <td>@Html.DisplayFor(temp => d.salePrice)</td>
            <td>@Html.ActionLink("Add to Cart", "AddToCart", "RegisteredUser", new { itemId = d.itemId, name = d.name, salePrice = d.salePrice }, null)</td>
        </tr>

    }
</table>